*{
    box-sizing: border-box;
}
body{
    background-color: #003566;
    color: #CCA000;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}
.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}
ul{
    list-style: none;
    padding: 0;
}
.brand{
    text-align: center;
}
.brand span{
    color: white;
}
.wrapper{
    box-shadow: 0 0 20px 0 rgba(132, 140, 215, 0.7);

}
.wrapper > *{
    padding: 1em;
}
.company-info{
    background-color: #001D3D; 
}
.company-info h3, .company-info ul{
    text-align: center;
    margin-bottom: 1rem;
}
.booking-form{
    background-color: #003566;
}
select{
    padding: 1em;
    width: 100%;
}
.alert{
    text-align: center;
    padding: 10px;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    display: none;
}
.booking-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.booking-form form label{
    display: block;
}

.booking-form form p{
    margin: 0
}

.booking-form form .full{
    grid-column: 1 / 3;

}

.booking-form form textarea, .booking-form form button, .booking-form form input{
    width: 100%;
    padding: 1em;
    border: 1px solid #003566;

} 
.booking-form form button{
    background-color: #001D3D;
    color: #CCA000;
    border-radius: 20px;
    border: #CCA000;
}
